.example-card {
  max-width: 60vw;
  display: flex;
  flex-direction: row;
  margin: 5vh auto;
  border: none;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.price {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}
img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

h2, p {
   margin: 0.5rem 0 0 0.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  color: #555;
}

mat-card-actions {
  margin: 2.5rem 0 0 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
