* {
  flex: 1 1 0;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
}

.book-details {
  background: #fff;
  padding: 1.2rem 1rem 1rem 1rem;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.cover-list {
  width: 8.5rem;
  height: 10.5rem;
  object-fit: cover;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.book-details-title {
  font-size: 1rem;
  color: #005D9B;
  font-weight: 600;
}

.book-price {
  color: #e53935;
  font-size: 1.1rem;
  font-weight: 600;
}

.buy-button {
  max-width: 180px;
  height: 4rem;
  background: #008AE6;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}

.add {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  margin-top: 1rem;
}
