ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

ul li {
  font-size: 1rem;
  font-weight: 600;
}

ul li a,
.dropdown .dropbtn {
  color: #0E78C0;
  text-decoration: none;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.dropdown .dropbtn {
  font-size: 1rem;
}

ul li a:hover,
.dropdown:hover .dropbtn {
  background:  #008AE6;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #008AE6;
  min-width: 180px;
  border-radius:  0.5rem;
  z-index: 10;
  margin-top: 0.2rem;
  overflow: hidden;
}

.dropdown-content a {
  color: #fff;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #0071B3;
}

.dropdown:hover .dropdown-content {
  display: block;
}


