<div class = "container">
  <div class = "header">
    <div class = "phone">
      <span class="material-symbols-outlined">phone_bluetooth_speaker</span>
      <p class ="number">02437921466</p>
    </div>
    <div class = "information">
      <div class = "search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Bạn muốn tìm sách gì?">
      </div>

        <button class="cart" (click)="navigateToCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
<!--       <button ><span class="material-symbols-outlined">shopping_basket</span></button>-->
      <div class = "user">
        <span class="material-symbols-outlined">account_circle</span>
      </div>
    </div>
  </div>
