<div class = "company">
  <p>CÔNG TY CỔ PHẦN SÁCH MCBOOKS</p>
  <p>VP Hà Nội : Ô số E34, khu đấu giá 3ha, Phường Phú Diễn, Thành phố Hà Nội</p>
  <p>Hotline : 02437921466</p>
  <p>VP Miền Nam: Số 45 đường 8, KP5, Hiệp Bình Chánh, Thủ Đức, TP Hồ Chí Minh</p>
  <p>Hotline : 0901 385 589</p>
  <p>Email: contact@mcbooks.vn</p>
  <p>PHÒNG PHÁP CHẾ</p>
  <p>Hotline/zalo : 0986 310 694/ 0867 665 986</p>
  <p>Email: phongphapche@mcbooks.vn/ phongphapche2@mcbooks.vn</p>
  <h2>HỖ TRỢ KHÁCH HÀNG</h2>
  <a class ="cus" href ="">Hướng dẫn mua hàng</a>
  <a class ="cus" href ="">Giao nhận và thanh toán</a>
  <a class ="cus" href ="">Chính sách Đổi - Trả - Hoàn tiền</a>
  <a class ="cus" href ="">Đăng ký thành viên</a>
  <a class ="cus" href ="">Chính sách bảo mật</a>
  <a class ="cus" href ="">Liên hệ</a>
</div>
